.today-fieldset {
  border: solid 1px lightgray;
  padding: 10px;
  width: 150px;
}

.today-fieldset legend {
  font-weight: bold;
  white-space: nowrap;
  overflow: visible;
}

.today-fieldset meter {
  width: 100%;
}